/*
Theme Name: sae303
Theme URI: https://wordpress.org/themes/monpremiertheme/
Author: CamilleR2369
Requires at least: 5.9
Tested up to: 6.3
Requires PHP: 5.6
Version: 1.5
Description: It's gonna be great.
Text Domain: sae303
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*STYLE HEADER*/
header>nav>a>img {
    width: 5vw;
}
nav {
    background-color: rgb(6, 6, 6);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
nav a:hover { 
    color: rgb(30, 215, 36);
    text-decoration: none;
}

/*FRONT PAGE*/
#mockup {
    width: 60vw;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
} 
.intro {
    margin: 50px;
    text-align: justify;
}

/*STYLE DES ARTICLES*/
h1 {
    text-align: center;
    justify-self: center;
}
div {
    justify-self: center;
    width: 35vw;
    height: 50vh;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
}
